body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movieContainer {
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
}

.reviewContainer {
  height: 200px;
  width: 400px;
  align-items: center;
}

.container {
  align-items: center;
}

.submit-button {
  border: solid;
  border-width: thin;
  border-color: white;
  color: white;
  background-color: rgb(67, 67, 67);
  margin: 1%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.star {
  font-size: large;
}

input {
  margin: 1%;
}
